In [1]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

C:\Users\Safiuddin\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Safiuddin\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Safiuddin\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Safiuddin\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
imp = IterativeImputer(max_iter=100, random_state=0)

In [3]:
features = [
    [4, 2, 1],
    [24, 12, 6],
    [8, np.nan, 2],
    [28, 14, 7],
    [32, 16, np.nan],
    [600, 300, 150],
    [np.nan, 60, 30],
    [np.nan, np.nan, 1]
]

In [4]:
imp.fit(features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=100, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [5]:
imp.transform(features)

array([[  4.        ,   2.        ,   1.        ],
       [ 24.        ,  12.        ,   6.        ],
       [  8.        ,   3.99966   ,   2.        ],
       [ 28.        ,  14.        ,   7.        ],
       [ 32.        ,  16.        ,   7.92735309],
       [600.        , 300.        , 150.        ],
       [120.00314828,  60.        ,  30.        ],
       [  5.58961599,   2.79614865,   1.        ]])

In [6]:
X_test = [
    [np.nan, 24, 12],
    [36, np.nan, np.nan],
    [100, np.nan, 25],
    [np.nan, 6, 3],
    [np.nan, 8, np.nan]
]

In [7]:
imp.transform(X_test)

array([[ 48.00364637,  24.        ,  12.        ],
       [ 36.        ,  17.99997416,   8.92708811],
       [100.        ,  49.99967879,  25.        ],
       [ 12.00389541,   6.        ,   3.        ],
       [ 16.12053713,   8.        ,   5.86176341]])

In [8]:
df = pd.read_csv('datasets/diabetes_processed_incomplete.csv')
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.000000,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.000000,32.0,NaN,23.3,0.672,32,1
3,1,89.0,66.000000,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.000000,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.000000,32.0,NaN,25.6,0.201,30,0
6,3,78.0,50.000000,32.0,88.0,31.0,0.248,26,1
7,10,115.0,72.405184,32.0,NaN,35.3,0.134,29,0
8,2,197.0,70.000000,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.000000,32.0,NaN,32.0,0.232,54,1

In [9]:
df.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                     374
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [10]:
features = df.drop(['Outcome'], axis=1)
label = df['Outcome']
features.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.000000,35.0,NaN,33.6,0.627,50
1,1,85.0,66.000000,29.0,NaN,26.6,0.351,31
2,8,183.0,64.000000,32.0,NaN,23.3,0.672,32
3,1,89.0,66.000000,23.0,94.0,28.1,0.167,21
4,0,137.0,40.000000,35.0,168.0,43.1,2.288,33
5,5,116.0,74.000000,32.0,NaN,25.6,0.201,30
6,3,78.0,50.000000,32.0,88.0,31.0,0.248,26
7,10,115.0,72.405184,32.0,NaN,35.3,0.134,29
8,2,197.0,70.000000,45.0,543.0,30.5,0.158,53
9,8,125.0,96.000000,32.0,NaN,32.0,0.232,54

In [11]:
imp = IterativeImputer(max_iter=10000, random_state=0)
imp.fit(features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10000, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [12]:
features_arr = imp.transform(features)
features_arr.shape

(768, 8)

In [13]:
features = pd.DataFrame(features_arr, columns=features.columns)
features.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.000000,35.0,219.028414,33.6,0.627,50.0
1,1.0,85.0,66.000000,29.0,70.341550,26.6,0.351,31.0
2,8.0,183.0,64.000000,32.0,270.573172,23.3,0.672,32.0
3,1.0,89.0,66.000000,23.0,94.000000,28.1,0.167,21.0
4,0.0,137.0,40.000000,35.0,168.000000,43.1,2.288,33.0
5,5.0,116.0,74.000000,32.0,127.840221,25.6,0.201,30.0
6,3.0,78.0,50.000000,32.0,88.000000,31.0,0.248,26.0
7,10.0,115.0,72.405184,32.0,136.570245,35.3,0.134,29.0
8,2.0,197.0,70.000000,45.0,543.000000,30.5,0.158,53.0
9,8.0,125.0,96.000000,32.0,155.571480,32.0,0.232,54.0

In [14]:
features.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [15]:
df = pd.concat([features, label], axis=1)
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.000000,35.0,219.028414,33.6,0.627,50.0,1
1,1.0,85.0,66.000000,29.0,70.341550,26.6,0.351,31.0,0
2,8.0,183.0,64.000000,32.0,270.573172,23.3,0.672,32.0,1
3,1.0,89.0,66.000000,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.000000,35.0,168.000000,43.1,2.288,33.0,1
5,5.0,116.0,74.000000,32.0,127.840221,25.6,0.201,30.0,0
6,3.0,78.0,50.000000,32.0,88.000000,31.0,0.248,26.0,1
7,10.0,115.0,72.405184,32.0,136.570245,35.3,0.134,29.0,0
8,2.0,197.0,70.000000,45.0,543.000000,30.5,0.158,53.0,1
9,8.0,125.0,96.000000,32.0,155.571480,32.0,0.232,54.0,1

In [16]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [17]:
df.to_csv('datasets/diabetes_processed.csv', index=False)
!ls datasets

auto_mpg_processed.csv
auto-mpg.csv
cars.csv
cars_processed.csv
diabetes.csv
diabetes_processed.csv
diabetes_processed_incomplete.csv
GoSales_Tx_LogisticRegression.csv